/*Containers*/

body {
  font: 16px Arial, Helvetica, sans-serif;
  background: #d2d2c1 url("../images/fundo.png");
}

#principal {
  width: 900px;
}

#navbar {
  padding: 30px;
  color: #4b566a;
  font-weight: bold;
  background-color: #c5c5b2;
}

#content {
  padding: 10px;
  background-color: #e8e8e9;
}

/*textos*/

h1 {
  color: #828271;
  font-size: 1.2em;
}

h4 {
  width: 900px;
  margin-left: 10px;
}

a {
  padding: 5px;
  color: #4b566a;
  font-weight: bold;
  text-decoration: none;
}

/*Outros*/

.images {
  margin-left: 10px;
  border: 10px solid #c3c3ae;
}

#footer {
  text-align: center;
}
